@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700;900&family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-tct-black: #121212;
  --color-tct-red: #e74c3c;
  /* --color-tct-red: #D2232A; */
  --color-tct-cream: #FAF7F2;
  --color-tct-gray: #6B6B6B;

  --font-display: "Big Shoulders Display", sans-serif;
  --font-sans: "Inter", sans-serif;
}

body {
  font-family: var(--font-sans);
}